@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

body, 
p, span, div, 
h1, h2, h3, h4, h5, h6, 
.callout, .admonition, .admonition-content, /* 这里专门针对那个蓝框 */
li, ul, ol, 
table, td, th,
a, strong, em {
    font-family: "Roboto", "Noto Sans SC", sans-serif !important;
}

body {
    background-color: #111111 !important;
    color: #eeeeee !important;
    line-height: 1.6;
}
  /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: #111111 !important;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: #eeeeee !important;
    //  }

